<div id="facts">
	<div style="font-weight:bold;color:#003972;text-align:left;border-bottom:1px solid #003972;margin-bottom:10px;font-size:14px;">Fun Facts About Passer Rating</div>
	<div style="font-style:italic;text-align:center">Here are some facts about passer rating.</div><br />
	<ul>
		<li>
			<span>There are 4 <em>different</em> ways to calculating passer rating.</span>
			<ul>
				<li><span><%= link_to "NFL&trade;", "http://nfl.com", {:target => "_blank"} %> <em>National Football League</em></span></li>
				<li><span><%= link_to "CFL&trade;", "http://cfl.ca", {:target => "_blank"} %> <em>Canadian Football League</em></span></li>
				<li><span><%= link_to "AFL&trade;", "http://arenafootball.com", {:target => "_blank"} %> <em>Arena Football League</em></span></li>
				<li><span><%= link_to "NCAA&trade; Football", "http://www.ncaa.com/sports/football", {:target => "_blank"} %> <em>College Football</em></span></li>
			</ul>
		</li>
		<li>
			<span>To have a &quot;perfect&quot; passer rating (158.3) you must have at least</span>
			<ul>
				<li><span>77.5% Completion Rate</span></li>
				<li><span>12.5 Yards Per Attempt</span></li>
				<li><span>1 Touchdown on 11.875% of Attempts</span></li>
				<li><span>0 Interceptions</span></li>
			</ul>
	</ul>
</div>