<div id="<%= @results[:rating_color] %>" style="padding:20px;width:70%;margin-top:13px;" align="center">
	<div style="display:inline;margin:0;padding:0;"><%= image_tag(@results[:check_color], :align => 'middle', :border => 0) %></div>
	<div style="display:inline;margin:0;padding:0;float:right;"><em>Your passer rating is...</em><br /><span style="font-size:64px;font-weight:bolder;text-shadow:gray 0.1em 0.1em 0.2em;"><%= @results[:passer_rating] %></span></div>
	<br /><br />
	<div style="display:block;text-align:center;color:#000000;font-size:10px;margin:0;padding:0;">
		<span style="height:15px;width:45px;background:#003972;border:1px solid #000000;">&nbsp;&nbsp;&nbsp;</span> = Regular Rating&nbsp;&nbsp;
		<span style="height:15px;width:45px;background:#1D5F12;border:1px solid #000000;">&nbsp;&nbsp;&nbsp;</span> = Perfect Rating
	</div>
</div>